.contact-container {
  background-image: url('https://t4.ftcdn.net/jpg/01/40/56/07/360_F_140560701_EQXhrMm3ifla02xDAziPmPenftWMQxEU.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: fixed;
  top: 75px;   
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  text-align: center;
  z-index: 0;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 10px;
  max-width: 700px;
}
