.navbar {
  display: flex;
  justify-content: flex-start; /* Align all content left */
  padding: 1rem 2rem;
  gap: 40px; /* space between title and links */
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-radius: 0;
  background-color: #333;
}

.navbar-title {
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: 50px; /* space between title and links */
}

.navbar-links {
  display: flex;
  gap: 55px;
}


.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 7px;       
  white-space: nowrap;  
  overflow: visible;    
}


.navbar-links a:hover {
  color: #ffc107;
}
